.list{
    border: 1px solid black;
    width: 150px;
    /* background-color: pink; */
}
/* hr{
    margin-top: -1px;
} */
h2{
    margin-bottom: 1px;
}

  /* .affiliations-body{
    display: flex;
    float: right;
    margin-left: 15px;
  }*/
  .gallery{
    border: 1px solid black;
    padding: 5px;

  } 
  figcaption{
    font-size: small;
    margin: 5px;
  }
  /* .schools{
    margin-top: 5px;
    background-color: pink;
  } */

  
  .sideContainer{
    display: flex;
    float: left;
    /* margin: 10px; */
  }
  .bodyContainer{
    display: flex;
    float: right;
    margin: 15px;
  }
  .sideNav {
    border-right: 1px solid rgb(165, 165, 243);
    /* height: 1000px; */
  }
  .nav-link{
    /* border-left: 1px solid skyblue ;
    border-right: 1px solid skyblue ; */
    border-bottom: 1px solid skyblue ;
    /* background-color: skyblue ; */
    /* opacity: 50%; */
  }
  .logo{
    border: 1px solid black;
    padding: 20px;
    width: 300px;
    font-size: small;
  }
  .cen{
    text-align: center;
    margin: 10px;
  }
  .logo{
    background-color: rgb(252, 250, 250);
    margin-top: -200px;
    height: 700px;
  }
  
 li a{
    text-decoration: none;
  }
  div h2{
    margin-bottom: -10px;
  }
  /* *{
    font-size: medium;
  } */